################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Moksnes.CreateGuid/obj/Debug
/Moksnes.CreateGuid/bin/Debug
/.vs/Moksnes.CreateGuid/v15/.suo
/Moksnes.CreateGuid/bin/Release
/Moksnes.CreateGuid/obj/Release
