################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Moksnes.CreateGuid/obj/Debug
/Moksnes.CreateGuid/bin/Debug
/.vs/Moksnes.CreateGuid/v15/.suo
/Moksnes.CreateGuid/bin/Release
/Moksnes.CreateGuid/obj/Release
/.vs/Moksnes.CreateGuid/v16
/Moksnes.CreateGuid/Moksnes.CreateGuid.csproj.user
/Moksnes.CreateGuid.sln.DotSettings.user
